@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --container-padding: 4rem;
  /* 76px */
  --font-size-4xl: clamp(2.625rem, 4.048vw + 1.107rem, 4.75rem);
  /* 55px */
  --font-size-3xl: clamp(1.75rem, 3.214vw + 0.545rem, 3.438rem);
  /* 40px */
  --font-size-2xl: clamp(1.25rem, 2.381vw + 0.357rem, 2.5rem);
  /* 32px */
  --font-size-xl: clamp(1.125rem, 1.667vw + 0.5rem, 2rem);
  /* 28px */
  --font-size-lg: clamp(1rem, 1.429vw + 0.464rem, 1.75rem);
  /* 24px */
  --font-size-2md: 1.5rem;
  /* 18px */
  --font-size-md: 1.12rem;
  /* 16px */
  --font-size-base: 1rem;

  --color-bg-black: #0d1117;
}

html {
  --color-backdrop: hsl(220deg 5% 40% / 0.8);
  /*
    Silence the warning about missing Reach Dialog styles
  */
  --reach-dialog: 1;
}

@media (max-width: 900px) {
  :root {
    --container-padding: 2rem;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

html,
body {
  padding: 0;
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/

html,
body,
#__next {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  /* FIXME: // the grid is the cause of the overflow */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  min-height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
